[Unit]
Description=Catalog Service
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/var/www/catalog-service
EnvironmentFile=/var/www/catalog-service/.env
ExecStart=/usr/bin/node dist/app/server.js
Restart=always
RestartSec=5
KillSignal=SIGTERM
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target
``